.products-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sort-container {
  margin-right: 15px;
  margin-top: 80px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 15px;
}

@media screen and (max-width: 480px) {
  .products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }
  .products {
    display: flex;
    /* background-color: blue; */

    align-items: center;
    justify-content: center;
  }
}
