* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-container {
  display: flex;
  margin: 5% 2%;
}

.prod-img {
  width: 50%;
  height: 80vh;
  margin-right: 5%;
}

.prod-img > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.prod-details {
  width: 45%;
}

.title-with-rating {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9dade;
}

.prod-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.prod-desc {
  font-size: 1.25rem;
  color: #757884;
}

.rating {
  width: 200px;
  margin-top: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 3px;
  border: 1px solid #d9dade;
}

.star-num {
  font-weight: 500;
  margin-right: 2px;
}
.star-img {
  color: #1bb1b0;
  font-size: 0.8rem;
}

.divide {
  margin-left: 10px;
  color: #757884;
}

.count {
  margin-left: 20px;
  color: #757884;
}
.price {
  margin-top: 20px;
}

.price > span {
  font-weight: 600;
  font-size: 1.25rem;
}

.tax {
  color: #1bb1b0;
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 10px;
}

.size-heading {
  display: flex;
  margin-top: 30px;
}

.select {
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 20px;
  color: black;
}
.chart {
  font-size: 1.1rem;
  color: #ff4271;
  font-weight: 500;
}

.select-option {
  display: flex;
  margin-top: 35px;
  margin-bottom: 50px;
}
.round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
}

/* .select-option > input {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
} */

.radio {
  display: flex;
  align-items: center;
  height: 40px;
}

button:active {
  border: 1px solid #ff4271;
}

button:focus {
  border: 1px solid #ff4271;
}

.btn {
  display: flex;
  margin-top: 20px;
}

.bag {
  display: inline-block;
  padding: 15px 70px;
  background-color: #ff4271;
  margin-right: 40px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.bag > button {
  background-color: #ff4271;
  border: none;
  margin-left: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
}

.wishlist {
  background-color: #efefef;
  padding: 15px 70px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: black;
}
.wishlist > button {
  border: none;
  background-color: #efefef;
  margin-left: 20px;
  font-size: 0.9rem;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }

  .product-all {
    max-width: 100%;
    overflow-x: hidden;
  }

  .prod-img {
    margin-top: 15px;
    width: 80%;
    height: 60vh;
    margin-right: 5%;
    margin-bottom: 20px;
  }
  .prod-details {
    width: 80%;
  }

  .btn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .bag {
    margin-bottom: 25px;
    margin-right: 0;
  }
}
